.box { height: 200px; width: 200px; border-color: black; border-width: 19px; justify-content: center; display: flex; align-items: center; outline: solid black; background-color: palevioletred;}
.placement { display:flex ; gap: 20px; justify-content: center; padding: 10px; }
body { background-color:rgb(81, 79, 87); font-family: Arial, sans-serif; }