.box { height: 200px; width: 80px; border-color: black; border-width: 19px; outline: solid black; background-color: aliceblue;  }

.placement { display:flex ; gap: 20px; justify-content: center; padding: 10px; }
body { background-color:rgb(81, 79, 87); font-family: Arial, sans-serif; }
