@font-face {
    font-family: "Quicksand";
    src: url(/Quicksand/Quicksand-VariableFont_wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Audiowide";
    src: url(/Audiowide/Audiowide-Regular.ttf);
    font-weight: normal;
}


h1 {
     background: -webkit-linear-gradient(90turn, #ff00fb, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    grid-area: header;
    font-family: "Audiowide";
    justify-content: center;
    background-color: rgb(53, 52, 57);
    color: white;
    overflow: hidden;
    z-index: 100;
    
}

a {
    text-decoration: none;
}


body {
    font-family: Quicksand;
    text-align: center;
     background-color: rgb(59, 57, 65);
    color: white;
    border-right: solid rgb(104, 104, 104);

}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px; 
    background-color: rgb(59, 57, 65);
    color: white;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px; 
    background-color: rgb(59, 57, 65);
    color: white;   
}


#uuspeli {
    width: 100px;
    height: 50px;
    font-size: 20px; 
    background-color: rgb(59, 57, 65);
    color: white;
}

